.card {
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  background-color: #6e7583d4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
}
.form-group {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.form-control {
  padding: 12px 12px 12px 0;
  border: none;
  outline: none;
  background-color: #ffffff85;
  &::placeholder {
    // color: #fff;
    font-weight: 400;
  }
}

.btn {
  align-self: center;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
  text-align: center;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.05em;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}
