.register,
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    .card-header {
      h3 {
        margin-bottom: 15px;
        text-align: center;
        font-size: 2em;
        color: var(--primary);
        text-transform: uppercase;
      }
    }
    .card-body {
      .form-group {
        .form-control {
          padding: 15px 10px;
          border-radius: 4px;
          font-size: 1em;
          background-color: var(--sec-bg-color);
        }
        &.btn-group {
          padding: 15px 0;
        }
        &:last-child {
          margin-bottom: 0px;
        }
        span {
          text-align: center;
          a {
            color: #000;
          }
        }
        .file-image {
          display: flex;
          color: #757575;
          .image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid rgb(199, 195, 195);
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: scale-down;
            }
          }
          .file {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .form-control {
              display: none;
            }
            label {
              padding: 8px;
              margin-bottom: 0px;
              width: 120px;
              text-align: center;
              margin-left: 10px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
